NEXT_PUBLIC_KIPPU_API=http://testnet.kippu.rocks/api
NEXT_PUBLIC_CHAIN_ENDPOINT=wss://testnet.kippu.rocks
NEXT_PUBLIC_EVENTS_CONTRACT_ADDRESS=GyDvHnpfsYwy2GfgiumiVNTgiTvb5Tw91msnUDygsjy6o6Q
NEXT_PUBLIC_TICKETS_CONTRACT_ADDRESS=FpPK6mkkv3dfELNr5dMgz17tgQQL7zpYmCdVc2XJ46rayMD
NEXT_PUBLIC_MERCHANT_ID=3
